<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>
<!ELEMENT umediaSlider ANY>
<!ATTLIST umediaSlider id ID #REQUIRED>
<!ELEMENT umediaSliders ANY>
<!ATTLIST umediaSliders id ID #REQUIRED>

]>
<root id="-1">
  <umbHomepage id="1051" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-02T19:30:58" updateDate="2014-04-23T20:54:34" nodeName="Duarte" urlName="duarte" path="-1,1051" isDoc="" nodeType="1048" creatorName="Dom" writerName="Dom" writerID="0" template="1046" nodeTypeAlias="umbHomepage">
    <umbTextpage id="1063" parentID="1051" level="2" creatorID="0" sortOrder="3" createDate="2014-02-04T21:43:55" updateDate="2014-05-12T19:39:06" nodeName="About" urlName="about" path="-1,1051,1063" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="200" height="258" src="/media/1007/Chantal-Duarte-web.jpg" alt="Chantal Duarte" style="float: right;"/></p>
<p>Duarte Consultancy Limited was founded by Company Director, Chantal Duarte in October 2013 and operates in the Midlands region. Duarte Consultancy provides mentoring and athlete support services to athletes by giving them the necessary skills to cope with the specific demands of being an elite performer and enabling them to lead successful and balanced lives, in and out of sport.</p>
<p>The company’s vision is to deliver excellent quality mentoring and athlete support programmes to athletes training with academies and specialist sport programmes within performance sport.</p>
<p>Any sporting organisations operating in this area are invited to contact Duarte Consultancy for more information on its services.</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1069" parentID="1051" level="2" creatorID="0" sortOrder="4" createDate="2014-02-07T19:46:02" updateDate="2014-03-27T20:16:31" nodeName="Services" urlName="services" path="-1,1051,1069" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbTextpage id="1064" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2014-02-04T21:47:24" updateDate="2014-05-12T19:31:15" nodeName="Mentoring and Athlete Support Services" urlName="mentoring-and-athlete-support-services" path="-1,1051,1069,1064" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><img width="300" height="200" src="/media/1032/WEBSITE-PHOTO-MENTORING-SERVICES-web.jpg" alt="Mentoring Services" style="float: right;"/>Duarte Consultancy delivers mentoring and athlete support services to athletes and high performance organisations. This is a bespoke programme to meet the needs of your athletes and organisation. We supply personalised mentoring support services to athletes in all sports which are specifically designed to ensure 360 degree development of the athlete and the necessary environment for their success.</p>
<p>This mentoring is done through:</p>
<ul>
<li>1 to 1 regular mentoring meetings</li>
<li>Group workshops</li>
<li>Action planning and problem solving support</li>
<li>Goal setting</li>
<li>Time management support</li>
<li>Organisational Skills and prioritisation support</li>
<li>Emotional support</li>
<li>Raising overall confidence and self-esteem in the athlete</li>
<li>Encouragement of mental toughness and self-belief</li>
<li>Mentor-Coach-Parent- Sport Specialist relationship built to ensure the most effective support network system is in place for athletes</li>
</ul>]]></bodyText>
      </umbTextpage>
      <umbTextpage id="1065" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2014-02-04T21:48:46" updateDate="2014-02-14T19:32:46" nodeName="Accredited Mentoring Training Courses" urlName="accredited-mentoring-training-courses" path="-1,1051,1069,1065" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong><img width="300" height="225" src="/media/1018/MMP-TRAINING-web.jpg" alt="Training in the office" style="float: right;"/>ASDAN Accredited Mentoring Training Course Delivery- Level 3 ASDAN Certification</strong></p>
<p>Duarte Consultancy delivers an in-house accredited one day mentoring training course (10am-4pm) designed to train up your organisation’s mentors so that they are prepared to mentor and provide appropriate support to your target audience. This is a bespoke course tailored to meet the needs of your organisation.</p>
<p>When the course has been completed, each mentor will receive an ASDAN accredited mentoring certificate in the “Introduction and Preparation for Mentoring” worth 1 credit at Level 3 (NVQ Level).</p>
<p>The cost of each course is:</p>
<p>£150 per attendee if training up to 8 mentors</p>
<p>£120 per attendee if training 8-15 mentors</p>]]></bodyText>
      </umbTextpage>
      <umbTextpage id="1070" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2014-02-07T19:48:19" updateDate="2014-02-14T19:30:21" nodeName="Administration Services" urlName="administration-services" path="-1,1051,1069,1070" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><img width="80" height="80" src="/media/1022/Word-launch-icon-2010sized-2.jpg" alt="Word Icon" style="float: right;"/><img width="83" height="83" src="/media/1020/Powerpoint-launch-icon-2010sized-2.jpg" alt="Powerpoint Icon" style="float: right;"/></p>
<p><img width="80" height="79" src="/media/1024/Excel-launch-icon-2010sized-2.jpg" alt="Excel Icon" style="float: right;"/></p>
<p>Duarte Consultancy supplies administration services for performance sport organisations. This includes administration in:<br /> </p>
<ul>
<li>Registration of organisation users</li>
<li>Appointment and meeting bookings</li>
<li>Report and letter writing</li>
<li>Excel speadsheet work</li>
<li>Powerpoint presentation work</li>
<li>Any other administration required by the organisation</li>
</ul>
<p><img width="300" height="225" src="/media/1023/diary-web.jpg" alt="Notepad" style="float: right;"/></p>
<p> </p>]]></bodyText>
      </umbTextpage>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="300" height="200" src="/media/1033/WEBSITE-SERVICES-web.jpg" alt="Services" style="float: right;"/>For a list of services that we offer please see below:</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1066" parentID="1051" level="2" creatorID="0" sortOrder="5" createDate="2014-02-04T21:50:57" updateDate="2014-04-23T21:03:37" nodeName="Testimonials" urlName="testimonials" path="-1,1051,1066" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><strong><img width="300" height="200" src="/media/1001/handshake.jpg" alt="Handshake" style="float: right;"/>Track Academy - Founder and Director Connie Henry</strong> - "Duarte Consultancy has provided Connie Henry’s Track Academy with an exceptional quality of service. Every aspect of the contract has been executed beyond reproach and Duarte Consultancy is a company that Track Academy has come to rely on as efficient and highly professional. Director, Chantal Duarte, has been instrumental in developing and managing the elaborate mentoring programmes that Track Academy delivers. As well as this, Ms Duarte has provided excellent mentoring training and administration services.Duarte Consultancy is a true asset to our team and I cannot recommend their services highly enough."</p>
<p><strong>Olympian and England Athletics Lead Mentor and Coach for Sprints Clarence Callender  -  "</strong>Director, Chantal Duarte has provided impressive and highly valued support for our athletes and has an extensive understanding of the specific needs and demands of high performance sport. With this support, our athletes have been able to develop and move forward successfully with their careers and life prospects."</p>
<p><strong>Route Consultancy Ltd - Director David Johnson</strong> - "Chantal is extremely knowledgeable across a range of areas including project start up and management, mentoring training and support, data monitoring and report writing. She is a delight to work with and delivers efficient, effective services in a professional manner."</p>
<p><strong>London Sports Trust - Chief Executive Ulick Tarabanov</strong> - "Chantal has been instrumental in developing the mentoring programme for the London Sports Trust. Her dedication and knowledge has lead us to where we are today, supporting hundreds of young people every year in a structured and positive programme."</p>
<p><strong>St Gregory’s Science College- Form Tutor</strong> - "It has been great having such direct contact with Chantal at Track Academy and I really think that James has been able to improve his behaviour because he knows that we are all on the same page, working together to help him."</p>
<p><strong>Parent of Athlete</strong> - "My son enjoys attending Track Academy and is having lots of fun from your excellent Coaching/Mentoring teaching skills. I thank you for your commitment, patience and hard work with my son. He has learnt so much and he has developed and improved. A big thank you to you."</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1067" parentID="1051" level="2" creatorID="0" sortOrder="6" createDate="2014-02-04T21:52:43" updateDate="2014-04-23T20:58:55" nodeName="Partner Organisations" urlName="partner-organisations" path="-1,1051,1067" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>A list of our partner organisations are below;</p>
<ul>
<li><a href="http://www.trackacademy.co.uk/" target="_blank" title="Track Academy Website">Track Academy</a><a href="http://www.trackacademy.co.uk/" target="_blank" title="Track Academy Website"><img width="150" height="143" src="/media/1031/track-academy-web.jpg" alt="Track Academy" style="float: right;"/></a></li>
</ul>
<p>"Track Academy was founded by Commonwealth Games Triple Jump Bronze Medalist Connie Henry. She has designed it to be a programme that provides children with a positive alternative from a life in gangs, drugs, crime or complete lethargy.</p>
<p>Offering sports activities, mentoring and study support, the Academy hopes to bridge the gap between sport and how it can be used to motivate a young mind to believe it can achieve in other areas."</p>
<ul>
<li><a href="http://routeconsultancy.weebly.com/" target="_blank" title="Route Consultancy Ltd">Route Consultancy Ltd</a><a href="http://routeconsultancy.weebly.com/" target="_blank" title="Route Consultancy Website"><img width="200" height="190" src="/media/1028/route-consultancy-web.jpg" alt="Route Consultancy" style="float: right;"/></a></li>
</ul>
<p>"Route Consultancy was formed in 1997 and provides a range of services appropriate to client needs.</p>
<p>The services we provide are specifically designed, through consultation and agreement, to suit our client’s needs. We then, if required, formulate the best possible team through our associates and partner organizations to provide the most effective and appropriate service."</p>
<ul>
<li><a href="http://www.londonsportstrust.org/" target="_blank" title="London Sports Trust">London Sports Trust</a></li>
</ul>
<p><a href="http://www.londonsportstrust.org/" target="_blank" title="London Sports Trust Website"><img width="200" height="190" src="/media/1027/london-sports-trust-web.jpg" alt="London Sports Trust" style="float: right;"/></a></p>
<p>"The London Sports Trust started in 1999 through the support of David Robins at John Lyons Charity with the goal of supporting talented sports stars in financial need through bursaries and educational guidance.</p>
<p>The Trust evolved from the Sports Scholarship Scheme in Kensington &amp; Chelsea and Westminster whose first recipient was Olympic Gold medallist and Tour de France champion Bradley Wiggins."</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1068" parentID="1051" level="2" creatorID="0" sortOrder="7" createDate="2014-02-04T21:53:30" updateDate="2014-02-13T21:29:53" nodeName="Contact" urlName="contact" path="-1,1051,1068" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="300" height="225" src="/media/1017/laptop-phone-web.jpg" alt="Contact" style="float: right;"/></p>
<p>Duarte Consultancy Ltd</p>
<p>Telephone: 07858 972 513</p>
<p>Email: <a href="mailto:chantal@duarteconsultancy.co.uk">chantal@duarteconsultancy.co.uk</a></p>]]></bodyText>
    </umbTextpage>
    <siteName>Duarte Consultancy</siteName>
    <siteDescription><![CDATA[Mentoring and athlete support services to organisations and athletes in performance sport.]]></siteDescription>
    <bodyText><![CDATA[<p><img width="300" height="200" src="/media/1019/nationals-web.jpg" alt="Running on the track" style="float: right;"/></p>
<h2>Welcome to Duarte Consultancy</h2>
<p>Duarte Consultancy provides mentoring, athlete support and administration services to organisations and athletes in performance sport.</p>
<p>These services are bespoke and are designed to meet the specific needs of each organisation.<br /> <br />Click on the above tabs to find out more about the company.</p>]]></bodyText>
  </umbHomepage>
</root>