<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>
<!ELEMENT umediaSlider ANY>
<!ATTLIST umediaSlider id ID #REQUIRED>
<!ELEMENT umediaSliders ANY>
<!ATTLIST umediaSliders id ID #REQUIRED>

]>
<root id="-1">
  <umbHomepage id="1051" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-02T19:30:58" updateDate="2014-02-07T21:11:40" nodeName="Simple website" urlName="simple-website" path="-1,1051" isDoc="" nodeType="1048" creatorName="Dom" writerName="Dom" writerID="0" template="1046" nodeTypeAlias="umbHomepage">
    <umbTextpage id="1063" parentID="1051" level="2" creatorID="0" sortOrder="3" createDate="2014-02-04T21:43:55" updateDate="2014-02-07T20:52:49" nodeName="About" urlName="about" path="-1,1051,1063" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="300" height="202" src="/media/1002/running-track-stadium.jpg" alt="Running Track Stadium" style="float: right;"/>Duarte Consultancy Limited was founded by Company Director, Chantal Duarte in October 2013 and operates in the East Midlands area. Duarte Consultancy provides mentoring and athlete support services to athletes by giving them the necessary skills to cope with the specific demands of being an elite performer and enabling them to lead successful and balanced lives, in and out of sport.</p>
<p>Duarte Consultancy is currently providing mentoring and educational support services for Track Academy, a 360 degree youth development programme for talented athletes.</p>
<p>The company’s vision is to deliver excellent quality mentoring and athlete support programmes to athletes training with academies and specialist sport programmes within performance sport.</p>
<p>Any sporting organisations operating in this area are invited to contact Duarte Consultancy for more information on its services.</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1069" parentID="1051" level="2" creatorID="0" sortOrder="4" createDate="2014-02-07T19:46:02" updateDate="2014-02-07T20:51:38" nodeName="Services" urlName="services" path="-1,1051,1069" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbTextpage id="1070" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2014-02-07T19:48:19" updateDate="2014-02-07T19:49:21" nodeName="Administration Services" urlName="administration-services" path="-1,1051,1069,1070" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Duarte Consultancy supplies administration services for performance sport organisations. This includes administration in:<br /> </p>
<ul>
<li>Registration of organisation users</li>
<li>Appointment and meeting bookings</li>
<li>Report and letter writing</li>
<li>Excel speadsheet work</li>
<li>Powerpoint presentation work</li>
<li>Any other administration required by the organisation</li>
</ul>]]></bodyText>
      </umbTextpage>
      <umbTextpage id="1065" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2014-02-04T21:48:46" updateDate="2014-02-07T19:49:21" nodeName="Accredited Mentoring Training Courses" urlName="accredited-mentoring-training-courses" path="-1,1051,1069,1065" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>ASDAN Accredited Mentoring Training Course Delivery- Level 3 ASDAN Certification</strong></p>
<p>Duarte Consultancy delivers an in-house accredited one day mentoring training course (10am-4pm) designed to train up your organisation’s mentors so that they are prepared to mentor and provide appropriate support to your target audience. This is a bespoke course tailored to meet the needs of your organisation.</p>
<p>When the course has been completed, each mentor will receive an ASDAN accredited mentoring certificate in the “Introduction and Preparation for Mentoring” worth 1 credit at Level 3 (NVQ Level).</p>
<p>The cost of each course is:</p>
<p>£150 per attendee if training up to 8 mentors</p>
<p>£120 per attendee if training 8-15 mentors</p>]]></bodyText>
      </umbTextpage>
      <umbTextpage id="1064" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2014-02-04T21:47:24" updateDate="2014-02-07T19:49:21" nodeName="Mentoring and Athlete Support Services" urlName="mentoring-and-athlete-support-services" path="-1,1051,1069,1064" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Performance lifestyle and mentoring services in a sports setting- abespoke programme to meet the needs of your athletes and organisation- supplying a personalised mentoring support service to athletes in all sports specifically designed to ensure 360 degree development and the necessary environment for their success.</p>
<p>This mentoring is done through:</p>
<ul>
<li>1 to 1 regular mentoring meetings</li>
<li>Group workshops</li>
<li>Action planning and problem solving support</li>
<li>Goal setting</li>
<li>Time management support</li>
<li>Organisational Skills and prioritisation support</li>
<li>Emotional support</li>
<li>Raising overall confidence and self-esteem in the athlete</li>
<li>Encouragement of mental toughness and self-belief</li>
<li>Educational support- close contact with educational establishments to monitor the progress of athletes in this area</li>
<li>Mentor-Coach-Parent- Sport Specialist relationship built to ensure the most effective support network system is in place for athletes</li>
</ul>]]></bodyText>
      </umbTextpage>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="300" height="200" src="/media/1005/playing-tennis.jpg" alt="Playing Tennis" style="float: right;"/></p>
<p>For a list of services that we offer please see below:</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1066" parentID="1051" level="2" creatorID="0" sortOrder="5" createDate="2014-02-04T21:50:57" updateDate="2014-02-07T21:02:31" nodeName="Testimonials" urlName="testimonials" path="-1,1051,1066" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><strong><img width="300" height="200" src="/media/1006/speech-bubble.jpg" alt="Speech Bubble" style="float: right;"/></strong></p>
<p><strong>Track Academy - Founder and Director Connie Henry</strong> - awaiting testimonial</p>
<p><strong>England Athletics - Head Coach for Sprints Clarence Callender</strong> - awaiting testimonial</p>
<p><strong>Route Consultancy Ltd - Director David Johnson</strong> - “Chantal is extremely knowledgeable across a range of areas including project start up and management, mentoring training and support, data monitoring and report writing. She is a delight to work with and delivers efficient, effective services in a professional manner.”</p>
<p><strong>London Sports Trust - Chief Executive Ulick Tarabanov</strong> - “Chantal has been instrumental in developing the mentoring programme for the London Sports Trust. Her dedication and knowledge has lead us to where we are today, supporting hundreds of young people every year in a structured and positive programme."</p>
<p><strong>St Gregory’s Science College- Form Tutor</strong> - “It has been great having such direct contact with Chantal at Track Academy and I really think that James has been able to improve his behaviour because he knows that we are all on the same page, working together to help him.”</p>
<p><strong>Parent of Athlete</strong> - “My son enjoys attending Track Academy and is having lots of fun from your excellent Coaching/Mentoring teaching skills. I thank you for your commitment, patience and hard work with my son. He has learnt so much and he has developed and improved. A big thank you to you.”</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1067" parentID="1051" level="2" creatorID="0" sortOrder="6" createDate="2014-02-04T21:52:43" updateDate="2014-02-07T20:45:00" nodeName="Partner Organisations" urlName="partner-organisations" path="-1,1051,1067" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="300" height="200" src="/media/1001/handshake.jpg" alt="Handshake" style="float: right;"/></p>
<p>A list of our partner organisations are below;</p>
<ul>
<li><a href="http://www.trackacademy.co.uk/" target="_blank" title="Track academy">Track Academy</a></li>
<li><a href="http://routeconsultancy.weebly.com/" target="_blank" title="Route Consultancy Ltd">Route Consultancy Ltd</a></li>
<li><a href="http://www.londonsportstrust.org/" target="_blank" title="London Sports Trust">London Sports Trust</a></li>
</ul>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1068" parentID="1051" level="2" creatorID="0" sortOrder="7" createDate="2014-02-04T21:53:30" updateDate="2014-02-07T20:50:58" nodeName="Contact" urlName="contact" path="-1,1051,1068" isDoc="" nodeType="1049" creatorName="Dom" writerName="Dom" writerID="0" template="1047" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p><img width="300" height="199" src="/media/1003/contact.jpg" alt="Contact" style="float: right;"/>Duarte Consultancy Ltd</p>
<p>Telephone: 07858972513</p>
<p>Email: <a href="mailto:chantal@duarteconsultancy.co.uk">chantal@duarteconsultancy.co.uk</a></p>]]></bodyText>
    </umbTextpage>
    <siteName>Duarte Consultancy</siteName>
    <siteDescription><![CDATA[Mentoring and athlete support services to organisations and athletes in performance sport.]]></siteDescription>
    <bodyText><![CDATA[<p><img width="300" height="201" src="/media/1004/fitness-weights.jpg" alt="Fitness Weights" style="float: right;"/></p>
<p>Duarte Consultancy provides mentoring and athlete support services to organisations and athletes in performance sport.</p>]]></bodyText>
  </umbHomepage>
</root>